<md-content style="
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5%;
    " ng-controller="AppController" ng-view="" md-scroll-y="" flex="" class="md-padding md-default-theme">
    <div layout="column" layout-fill>
        <div flex layout="column" style="z-index: 1">
            <section class="md-whiteframe-z1">

                <md-toolbar class="md-default-theme">
                    <div class="md-toolbar-tools">
                        <span>Login</span>
                        <span flex></span>
                        <div layout="row" ng-show="user.loading" layout-sm="column" layout-align="space-around">
                            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>

                </md-toolbar>
                <div layout="row" layout-align="center center">
                    <md-content class="md-default-theme">
                        <div ui-view></div>
                    </md-content>
                </div>
            </section>
        </div>

    </div>

</md-content>
