<form style="padding: 20px" ng-submit="login()">
    <div class="row">
        <md-text-float label="Username" ng-model="user.username"></md-text-float>
        <md-text-float label="Password" ng-model="user.password" type="password"></md-text-float>
    </div>
    <div  layout-margin>
        <md-button type="submit" class="md-raised md-primary">
            Login
        </md-button>
        <md-button class="md-raised md-warn" ng-click="answer('not useful')">
            Register
        </md-button>
    </div>
</form>