/**********************************COLORS**********************************/
.bg-beach-storm {
    background-color: #E0E4CC !important;
}
.bg-aoi {
    background-color: #69D2E7 !important;
}
.bg-clean-pond-water {
    background-color: #A7DBD8 !important;
}
.bg-giant-gold-fish {
    background-color: #F38630 !important;
}

.bg-unreal-food-pills {
    background-color: #FA6900 !important;
}
.bg-thoughtless{
    background-color: #C02942 !important;
}
/**********************************COLORS**********************************/

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle {
    border-color: #1E8E34;
}
body, html {
    background-color: #E0E4CC !important;
}

md-toolbar.md-small {
    height: 45px;
    min-height: 45px;
    max-height: 45px;
    font-size: 1em;
}