<div layout="row" >
    <div flex layout="column" >
        <div flex layout="row"  layout-margin layout-fill layout-padding>
            <div flex layout="column" layout-align="end center" class="bg-clean-pond-water md-whiteframe-z1" style="height: 350px" >
                <div style="margin-bottom: 115px">
                    I'm on the left, and there's an empty area around me.
                </div>
                <md-toolbar class="md-medium-tall md-small" style="background-color: #ecf0f1; color: #333">
                    <h2 class="md-toolbar-tools">
                        <span>This Week</span>
                        <span flex></span>
                        <div><i class="icon ion-arrow-right-c"></i></div>
                    </h2>
                </md-toolbar>
            </div>
        </div>
        <div flex layout="row" style="height: 175px"  layout-margin layout-fill layout-padding>
            <div flex layout="column" layout-align="end center" class="bg-giant-gold-fish md-whiteframe-z1" style="height: 100%;">
                <div style="margin-bottom: 50px">
                    I'm on the center
                </div>
                <md-toolbar class="md-medium-tall md-small" style="background-color: #ecf0f1; color: #333">
                    <h2 class="md-toolbar-tools">
                        <span>This Week</span>
                        <span flex></span>
                        <div><i class="icon ion-arrow-right-c"></i></div>
                    </h2>
                </md-toolbar>
            </div>
            <div flex layout="column" layout-align="end center" class="bg-thoughtless md-whiteframe-z1" style="height: 100%; background-color: #3498db">
                <div style="margin-bottom: 50px">
                    I'm on the center
                </div>
                <md-toolbar class="md-medium-tall md-small" style="background-color: #ecf0f1; color: #333">
                    <h2 class="md-toolbar-tools">
                        <span>This Week</span>
                        <span flex></span>
                        <div><i class="icon ion-arrow-right-c"></i></div>
                    </h2>
                </md-toolbar>
            </div>
        </div>

    </div>
    <div flex layout="column">
        <div flex layout="row" style="height: 175px"  layout-margin layout-fill layout-padding>
            <div flex layout="column" layout-align="end center" class="bg-giant-gold-fish md-whiteframe-z1" style="height: 100%;">
                <div style="margin-bottom: 50px">
                    I'm on the center
                </div>
                <md-toolbar class="md-medium-tall md-small" style="background-color: #ecf0f1; color: #333">
                    <h2 class="md-toolbar-tools">
                        <span>This Week</span>
                        <span flex></span>
                        <div><i class="icon ion-arrow-right-c"></i></div>
                    </h2>
                </md-toolbar>
            </div>
            <div flex layout="column" layout-align="end center" class="bg-thoughtless md-whiteframe-z1" style="height: 100%; background-color: #3498db">
                <div style="margin-bottom: 50px">
                    I'm on the center
                </div>
                <md-toolbar class="md-medium-tall md-small" style="background-color: #ecf0f1; color: #333">
                    <h2 class="md-toolbar-tools">
                        <span>This Week</span>
                        <span flex></span>
                        <div><i class="icon ion-arrow-right-c"></i></div>
                    </h2>
                </md-toolbar>
            </div>
        </div>

    </div>

</div>