<div layout="column" layout-fill>
<md-toolbar flex layout="column" class="bg-aoi md-whiteframe-z1">
    <h2 class="md-toolbar-tools">
        <span>Ariel Guzman</span>
    </h2>
</md-toolbar>
<section layout="row" flex>
    <md-content flex class="md-padding md-default-theme bg-beach-storm" scroll-shrink="true">
    <div ui-view></div>
    </md-content>
</section>

</div>